@use "variables" as *;

@font-face {
  font-family: $font-family;
  src: url('../fonts/brand-icon-400-normal.eot');
  src: url('../fonts/brand-icon-400-normal.eot?#iefix') format('embedded-opentype'),
  url('../fonts/brand-icon-400-normal.woff') format('woff'),
  url('../fonts/brand-icon-400-normal.ttf') format('truetype'),
  url('../fonts/brand-icon-400-normal.svg#Brand-Icons') format('svg');
  font-display: $font-display;
  font-weight: 400;
  font-style: normal;
}

[class*='brand-icon']:before{
  display: inline-block;
  font-family: $font-family;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.brand-behance:before{content:'\0041';}
.brand-behance-square:before{content:'\0042';}
.brand-instagram:before{content:'\0043';}
.brand-instagram-square:before{content:'\0044';}
.brand-rutube:before{content:'\0045';}
.brand-rutube-square:before{content:'\0046';}
.brand-vk:before{content:'\0047';}
.brand-vk-square:before{content:'\0048';}
.brand-youtube:before{content:'\0049';}
.brand-youtube-square:before{content:'\004a';}
